.table-wrapper {
    margin: 1em auto;
    width: 95%;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-flow: column;
}

.table-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 0 1 auto;
}

.table-body {
    flex: 1 1 auto;
}

.table-cell {
    padding: .3em;
    height: 3em;
    margin: .1em .3em;
    border-radius: .2em;
    background-color: #F1BB87;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px #bdbdbd;
}

.table-cell p {
    width: 13em;
    margin: auto 0;
    padding: 0 .2em;
}

.header-cell {
    user-select: none;
    background-color: #F78E69;
}

.sort-selected {
    background: #ABE188;
}